# String
- _A string is a data type used in programming, that is used to represent text rather than numbers. A string is a sequence of characters and can contain letters, numbers, symbols and even spaces. It must be enclosed in quotation marks for it to be recognized as a string._

- _For example, the word **"liquid"** and the phrase **"What is liquid? It’s a template language."** are both strings. Even the sequence of characters **'98OkJJ$%janUJ£'** is considered a string._

## Concatenate two strings
- Assign to result variable
- print the result

In [3]:
string1 = "Career"
string2 = "Trek"

# code here
result=string1+" "+string2
print(result)

Career Trek

## Print the length of a string
- "CareerTrek Academy"

In [4]:
string = "CareerTrek Academy"

# code here
length =len(string) 

print(length)

18

## Print the "Trek" from below string:
- string = "CareerTrek Academy"

In [6]:
string = "CareerTrek Academy"

# code here
trek=string[6:11]
trek

'Trek '

## Print string information formatted as:
- My name is Alice and I'm 25 years old.

In [10]:
name = "Alice"
age = 25

# code here
print("My name is ",name,"and I'm ", age, " years old.")

My name is  Alice and I'm  25  years old.

## Extract username and domain:
- email = carrertrek@gmail.com
- output: Username is careertrek and domain is gmail.com

In [12]:
email = "carrertrek@gmail.com"

# code here
username, domain=email.split('@')
print("Username : ",username,"Domain : ", domain)

Username :  carrertrek Domain :  gmail.com

## Replace "@" to "#" :
- email = carrertrek@gmail.com
- output: carrertrek#gmail.com

In [14]:
email.replace('@','#')

'carrertrek#gmail.com'

# Built-in Data structures

## Task on List
**_Lists are ordered collections of items, which can be of any type. They are mutable, meaning their elements can be modified. Lists are created using square brackets [] and can be accessed and manipulated using various methods and indexing._**
- Create a list of your 5 favorite movies
- print the third movie in the list.

In [15]:
# code here
m_list=["Damal", "Transformerr", "XYZ", "X-Men", "abc"]
print(m_list[2])

XYZ

In [ ]:
# code here

## Task on Tuple - 
**_Tuples are similar to lists but are immutable, meaning their elements cannot be changed after creation. Tuples are created using parentheses () and can be accessed using indexing._**
- Create a tuple of 7 countries you would like to visit.
- print countries in Odd index in the tuple.

In [1]:
# code here
countries=("Switzerland", "Greece", "France", "India", "Turkey", "Finland", "Sweden")
for i in range(len(countries)):
    if i%2 ==0:
        print(countries[i])

Switzerland
France
Turkey
Sweden

In [ ]:
# code here

## Task on Set
**_Sets are unordered collections of unique elements. They do not allow duplicate values. Sets are created using curly braces {} or the set() constructor. They support various set operations like union, intersection, and difference._**
- Compute intersection, difference, union between set1 and set 2
- Merge set3 into set1 and print result

In [20]:
# code here
set1 = {2, 3, 1, 4, 5}
set2 = {4, 2, 3, 6, 8}
intersection=set1.intersection(set2)
difference=set1.difference(set2)
union=set1.union(set2)
print("Intersection : ",intersection)
print("Difference : ",difference)
print("Union : ",union)

Intersection :  {2, 3, 4}
Difference :  {1, 5}
Union :  {1, 2, 3, 4, 5, 6, 8}

In [5]:
# code here
set3 = {99, 88, 77}
set1.update(set3)
set1

{1, 2, 3, 4, 5, 77, 88, 99}

## Task on Dictionary
**_Dictionaries are key-value pairs, where each value is associated with a unique key. They are unordered and mutable. Dictionaries are created using curly braces {} and key-value pairs separated by colons (:). The values can be accessed and modified using their corresponding keys._**
- 1. Create a dictionary representing a person with keys like _"name"_, _"age"_, _"city"_, and _"pin"_.
- 2. Print City of the person
- 3. Update age of the person by 5 years
- 4. Add a new key, value to store multiple hobbies
- 5. Print out the third hobby of person

In [12]:
# code here
# Answer 1
dictionary={"name": "ABC", "age" :23, "city": "Dhaka", "pin" : "1234"}
dictionary

{'name': 'ABC', 'age': 23, 'city': 'Dhaka', 'pin': '1234'}

In [8]:
# code here
# Answer 2
print(dictionary['city'])

Dhaka

In [14]:
# code here
# Answer 3
dictionary['age']+= 5
print(dictionary['age'])

28

In [15]:
# code here
# Answer 3   : - 4. Add a new key, value to store multiple hobbies
dictionary['hobbies']="Reading books", "watching Movies", "Gardening"
dictionary

{'name': 'ABC',
 'age': 28,
 'city': 'Dhaka',
 'pin': '1234',
 'hobbies': ('Reading books', 'watching Movies', 'Gardening')}

In [19]:
# code here
print(dictionary['hobbies'][2])

Gardening

In [ ]:
# happy learning