# Print Statement - *print()*
- *print()* used to show infromation such as variables, string, data structures on the Screen

## Print a simple message: *Level Up with CareerTrek*

In [1]:
# code here
print ("Level Up with CareerTrek")

Level Up with CareerTrek

## Print the result of a mathematical expression: *x+y*

In [2]:
x = 5
y = 10

# code here
print(x+y)

15

## Print a pattern using multiple print statements:

In [6]:
#     *
#   *****
#  *******
#   *****
#     *

# code here
n_rows=int(input("Enter the number of rows : "))
for i in range (1, n_rows+1,1):
    spaces=" "*(n_rows -i)
    stars="*"*(2*i-1)
    print(spaces+stars)
for i in range (n_rows-1,0,-1):
    spaces=" "*(n_rows -i)
    stars="*"*(2*i-1)
    print(spaces+stars)

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [5]:
#     *
#   *****
#  *******
#   *****
#     *

# code here
n_rows=int(input("Enter the number of rows : "))
for i in range (1, n_rows+1,2):
    spaces=" "*(n_rows -i)
    stars="*"*(2*i-1)
    print(spaces+stars)
for i in range (n_rows-2,0,-2):
    spaces=" "*(n_rows -i)
    stars="*"*(2*i-1)
    print(spaces+stars)

    *
  *****
*********
  *****
    *

# Variable
- *a variable is a named location in the computer's memory where you can store a value. It is used to store data that can be accessed and manipulated throughout the program*

## Create a variable 
- _"orgName"_ and assign _"CareerTrek"_

In [8]:
# code here
orgName="CareerTrek"
orgName

'CareerTrek'

## Create a Variables -
-  store image shape - *height, width, channels* 
- and assign *1280, 780, 3*

In [ ]:
# codee here
height=1280
width=780
channels=3

## Create variable
- named _"pi"_ and assign _"3.14159"_

In [ ]:
# code here
pi=3.14159

# Data Types and Conversion
- refers to the type of data we want stor and work on.
- such as int, float, string, complex, boolean
- Conversion - one data type to another data type

## Create variables to store 
- Person's information **_"name is Tessa Young", "age is 24", "height is 176.56", "is employed or not"_**

In [ ]:
# code here - hint 4 variables you have to create and assign
name="Tessa Young"
age = 24
height = 176.56
is_employed = True

## Convert below variable
-  **_"num"_** into **_"integer type"_** and **_"floating number"_**

In [12]:
num = "23.456"

# code here
num_float = float(num)
num_int=int(num_float)
num_float
num_int

23

## Convert integer type to string
- _"pi=3.14159"_ to string

In [16]:
#code here
pi=3.14159
pi_string =str(pi)
type(pi_string)

str

# Operators
- *An operator is a symbol that represents a specific operation to be performed on one or more operands (values or variables).*
- *Allows you to perform various computations, comparisons, and manipulations on different types of data.*

## Perform Below operation on - *x and y*
- Addition - assign to  **_"summ"_** variable
- Subtraction - assign to  **_"difference"_** variable
- Multiplication - assign to  **_"mul"_** variable
- Division - assign to  **_"div"_** variable
- Remainder - assign to  **_"remainder"_** variable

In [17]:
x = 10
y = 4

# code here
sum=x+y
difference=x-y
mul=x*y
div=x/y
remainder=x%y
sum, difference, mul,div,remainder

(14, 6, 40, 2.5, 2)

## Compute below equation on ***m, x and c***
- y = mx + c

In [18]:
m = 0.14
x = 45
c = 33

#code here
y=(m*x)+c
print(y)

39.3

## Compare **_"x and y"_**
- Assign result of equality comparison to variable **_"eq"_**
- Assign result of _"is x greater than y"_ comparison to variable **_"gt"_**
- Assign result of _"is x less than y"_ comparison to variable **_"lt"_**
- Assign result of _"is x not equals to y"_ comparison to variable **_"neq"_**

In [19]:
# code here
x=10
y=12
if x==y:
    print ("Equal")
if x!=y:
    print ("Not Equal")
if x>y:
    print ("Greater")
if x<y:
    print ("Less")

Not Equal
Less

## use Bitwise operator to compare **_"x and y"_**
- result can be 0 or 1 - 1 means equal and 0 not equal

In [12]:
x = 3
y = 33

# complete code below
result =int(x==y)
result

0

## Check whether 
- a alphabet **_"alpha"_** is present in a given string **_"orgName"_** or not

In [11]:
orgName = "Career Trek Academy"
alpha = "e"
count=0
# code here
for c in orgName:
    if c==alpha:
        print("Yes,", alpha," is in orgname")     
        break

Yes, e  is in orgname

Sorting

In [43]:
orgName = "Career Trek Academy"
dic={}
count=0
# sorting
sorted(orgName)

#for sorting without using comma
for i in orgName:
    sort="".join(sorted(orgName))
sort

'  ACTaacdeeeekmrrry'

## Check whether
- ***x and y is Positive or not***

In [44]:
x = -33
y = 12

# code here

if x>0:
    print( x,"is positive")
else:
    print( x,"is Negetive")
if y>0:
    print( y,"is positive")
else:
    print( y,"is Negetive")

-33 is Negetive
12 is positive

## Increament and Decreament
- Increase the value of **_"x by 3"_**
- Decrease the values of **_"y by 4"_**

In [45]:
x = 13
y = 16

# code here
x=x+3
y=y+4

print(x, y)

16 20